.createNewPostSection form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 40%;
    max-height: 40%;
}


.createNewPostSection form input[type="text"]{
    height: 20px;
    width: 200px;
}

.createNewPostSection textarea{
    resize: none;
    height: 150px;
    width: 200px;
}   

.createNewPostSection form div{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
}
